<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">	
<title>积分明细 - 管理中心 - 炒米网</title>
<{include file="amui/am_header_css_js.html"}>
</head>
<body>
<!----------顶部通栏块 begin--------->
<{include file="amui/am_header.html"}>
<!----------顶部通栏块 end--------->
<!----------左侧导航菜单 begin--------->
<{include file="amui/am_left_nav.html"}>
<!----------左侧导航菜单 end--------->
		<!----------右侧内容框 begin--------->
        <div class="tpl-content-wrapper">
            <div class="tpl-portlet-components" style="padding-bottom:100px;">
                    <div class="am-g tpl-tabs">
                        <div class="am-u-sm-12 am-u-md-12 tpl-tabs-nav">
							<ul class="am-fl">
							  <li<{if $act=='score_push'}> class="active"<{/if}>><a href="<{url c='score' a='push'}>">积分转移</a></li>
							  <li<{if $act=='score_list'}> class="active"<{/if}>><a href="<{url c='score' a='dlist'}>">积分明细</a></li>
							</ul>						
                        </div>						
                    </div>	
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12">
                                <table class="am-table am-table-hover tpl-table-uppercase">
                                    <thead>
                                        <tr>
                                            <th class="table-type">ID流水</th>
                                            <!-- <th>品种</th> -->
                                            <th>流水</th>
                                            <th>剩余</th>
                                            <th>类型</th>
                                            <th>发生时间</th>
                                            <th>管理员备注</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										<{if $pager.total_count==0}>
										<tr style="height:60px;">
											<td colspan="7" style="text-align:center;line-height: 50px;">暂无数据</td>
										</tr>
										<{/if}>			
									 <{foreach $ret as $k => $v}> 
                                        <tr>
                                            <td><{$v.id}></td>
                                            <td>
											<span class="font-<{if $v.amount>0}>blue<{else}>red<{/if}>"><{$v.amount}></span>
											</td>
                                            <td><{$v.balance}></td>
											<td>
											<{if $v.type == 1}> 
											域名持有
											<{elseif $v.type == 2}> 
											转移
											<{elseif $v.type == 3}> 
											域名停放		
											<{elseif $v.type == 5}> 
											域名交易											
											<{/if}>
											</td>
                                            <td><{$v.create_time}></td>
                                            <td style="font-size:14px;"><{$v.note}></td>
                                        </tr>
      
									<{/foreach}>
                                    </tbody>
                                </table>
                                <div class="am-cf">
									<!--分页部分 begin-->
									<div class="am-fr">
										<ul class="am-pagination tpl-pagination">					
											<{if $pager}>
												<li class="am-disabled"><span>共<{$pager.total_count}>条/<{$pager.total_page}>页</span></li>
												<{if $pager.current_page != $pager.first_page}>
													<li><a href="<{spUrl c=score a=dlist page=$pager.first_page}>">首页</a></li>
													<li><a href="<{spUrl c=score a=dlist page=$pager.prev_page}>">上一页</a></li>
												<{/if}>
												<{foreach $pager.all_pages as $thepage}>
													<{if $thepage != $pager.current_page}>
														<li><a href="<{spUrl c=score a=dlist page=$thepage}>"><{$thepage}></a></li>
													<{else}>
														<li class="am-active"><a href="<{spUrl c=score a=dlist page=$thepage}>"><{$thepage}></a></li>
													<{/if}>
												<{/foreach}>
												<{if $pager.current_page != $pager.last_page}>
													<li><a href="<{spUrl c=score a=dlist page=$pager.next_page}>">下一页</a></li>
													<li><a href="<{spUrl c=score a=dlist page=$pager.last_page}>">末页</a></li>
												<{/if}>
											<{/if}>	
										</ul>		
									</div>
								    <!--分页部分 end-->	
								</div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!----------右侧内容框 end--------->
		
<script type="text/javascript">
</script>		
<!----------底部通栏块 begin--------->	
<{include file="amui/am_footer.html"}>	
<!----------底部通栏块 end--------->	
</body>
</html>