<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="shortcut icon" href="//www.chaomi.cc/favicon.ico"/>
<link rel="bookmark" href="//www.chaomi.cc/favicon.ico"/>
<meta name="apple-mobile-web-app-title" content="炒米网" />
<link rel="stylesheet" href="//cdn.staticfile.org/amazeui/2.7.2/css/amazeui.min.css">
<link rel="stylesheet" href="//static.chaomi.cc/js/amui/assets/css/app.css?t=20170703">
<script src="//static.chaomi.cc/js/amui/assets/js/jquery.min.js"></script>
<script src="//cdn.staticfile.org/amazeui/2.7.2/js/amazeui.min.js"></script>
<script type="text/javascript" src="//static.chaomi.cc/js/layer3/layer.js"></script>
<script type="text/javascript" src="//static.chaomi.cc/js/jquery.form.min.js"></script>
<script type="text/javascript">
	layer.config({
	  anim: 5, //默认动画风格
	});
</script>