<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><{$title|default:'联系我们'}> - 炒米网</title>
    <{include file="amui/am_i_header_css_js.html"}>
</head>
<body class="tpl-bg">
<!----------顶部通栏块 begin--------->
<{include file="amui/am_i_ot_header.html"}>
<!----------顶部通栏块 end--------->
<!----------右侧内容框 begin--------->
<div class="am-g tpl-content-wrapper-i">
    <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption">联系我们</div>
                </div>	
<div class="tpl-block am-padding">
                    <div class="am-g">
						<div class="am-u-sm-12 am-u-md-12" style="font-size:16px;">
							<p>客服电话：0755-26411163</p>
							<p>客服QQ：605466504</p>
							<p>深圳炒米金融服务有限公司</p>
						
						</div>
				<div style="margin-top:0px"></div>
                </div>
            </div>
</div>
</div>
<!----------右侧内容框 end--------->
<!----------底部通栏块 begin--------->
<{include file="amui/am_footer.html"}>
<!----------底部通栏块 end--------->
</body>
</html>
