<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><{$title|default:'帮助中心'}> - 炒米网</title>
    <{include file="amui/am_i_header_css_js.html"}>
    <style>
        .cjwt h2{font-size: 18px;border-bottom:1px solid #e9e9e8;padding-bottom:10px;margin-top:10px;}
        .wenti-bottom{overflow: hidden;min-height:140px;margin-top:25px;width: 190px;float: left;height: 380px;}
        .wenti-bottom dl{float: left;width: 30.3333%;margin-left:3%;}
        .wenti-bottom dl dt{font-size:16px;margin-bottom:18px;vertical-align: middle;}
        .wenti-bottom dl dd{line-height: 2;}
    </style>
</head>
<body class="tpl-bg">
<!----------顶部通栏块 begin--------->
<{include file="amui/am_i_ot_header.html"}>
<!----------顶部通栏块 end--------->
<!----------右侧内容框 begin--------->
<div class="am-g tpl-content-wrapper-i">
    <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption">帮助中心</div>
                </div>	
        <div class="tpl-block am-padding">
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">1.登录www.chaomi.cc，点击页面右上角的“注册账号”，可以选择通过手机、邮箱 “注册新用户”。</span>
</p>
<p>
    <img src="http://cdn-file.chaomi.cc/image/20170922/1506045143384278.png" title="1506045143384278.png" alt="help_1.png"/>
</p>
<p>
    <span style="color: red; font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">注：填写手机号码及姓名时，一定要填写正常使用的手机号和个人真实姓名，后期的交易、充值和提现等流程，系统会自动发送短信至此手机号码。由于银行卡实名制，这里注册填写的姓名必须与提现提交的银行卡账户名一致才能完成提现，且一旦注册成功，此处填写的真实姓名不可更改。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">2.<span style="font-family: 宋体;">注册登录成功后，点击</span>“<span style="font-family: 宋体;">用户管理</span>”<span style="font-family: 宋体;">，显示出来的“安全中心”、“实名认证”是很重要的两个项目，可以进行交易密码设置以及手机、邮箱的绑定，如图所示：</span></span>
</p>
<p>
    <img src="http://cdn-file.chaomi.cc/image/20170922/1506045164481383.png" title="" alt="help_2.png"/>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">3. <span style="font-family: 宋体;">炒米交易平台网址：</span>jy.chaomi.cc<span style="font-family: 宋体;">，也可通过在炒米网上点击“炒米交易”菜单进入，目前，首批开通的交易品种为四声母</span>COM.CN<span style="font-family: 宋体;">。</span></span>
</p>
<p>
    <img src="http://cdn-file.chaomi.cc/image/20170922/1506045174261709.png" title="" alt="help_3.png"/>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">4.<span style="font-family: 宋体;">投资人可以根据需求，使用“批量买入”、“批量卖出”功能挂单。目前炒米交易平台费率为：交易手续费</span>0.5%<span style="font-family: 宋体;">；提现手续费</span>1%<span style="font-family: 宋体;">。每天</span>24<span style="font-family: 宋体;">小时都可自由交易。</span></span>
</p>
<p>
    <img src="http://cdn-file.chaomi.cc/image/20170922/1506045182745031.png" title="" alt="help_4.png"/>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">5.<span style="font-family: 宋体;">投资人可以提交域名到炒米交易平台，在登录平台成功后，点击页面右上角“管理中心”，接着点开左边的“域名入盘”，会看到“提交域名”、“转入列表”、“域名注册商账号”</span>3<span style="font-family: 宋体;">个选项。投资人需要先设置好自己的域名注册商账号，然后才可以提交域名。</span></span>
</p>
<p>
    <img src="http://cdn-file.chaomi.cc/image/20170922/1506045197577687.png" title="" alt="help_5.png"/>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">6. <span style="font-family: 宋体;">炒米交易平台接受</span>PUSH<span style="font-family: 宋体;">域名的注册商平台账号为：爱名网：</span>911811<span style="font-family: 宋体;">，易名网：</span>911811<span style="font-family: 宋体;">，万网：</span>chaomicc<span style="font-family: 宋体;">，</span>190<span style="font-family: 宋体;">数交所：</span>911811<span style="font-family: 宋体;">。</span></span>
</p>
<p>
    <img src="http://cdn-file.chaomi.cc/image/20170922/1506045206517501.png" title="" alt="help_6.png"/>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">7.<span style="font-family: 宋体;">如有域名转出需要，投资人可以点击页面左侧“我的域名”选项，选择域名品种转出到相应的注册商平台。</span></span>
</p>
<p>
    <img src="http://cdn-file.chaomi.cc/image/20170922/1506045216743733.png" title="" alt="help_7.png"/>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">8.<span style="font-family: 宋体;">登录成功后，投资人可以点击页面左侧“财务管理”选项，点击</span>“<span style="font-family: 宋体;">在线充值</span>”<span style="font-family: 宋体;">，目前炒米交易平台支持的支付方式有连连支付、支付宝两种。</span></span>
</p>
<p>
    <img src="http://cdn-file.chaomi.cc/image/20170922/1506045221286340.png" title="" alt="help_8.png"/>
</p>
<p>
    <span style="color: red; font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">名词解释</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><span style="font-family: 宋体;">字母：英文字母，即现在英文（</span>English<span style="font-family: 宋体;">）所基于的字母，共</span>26<span style="font-family: 宋体;">个。包含</span>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><span style="font-family: 宋体;">声母：声母，是使用在韵母前面的辅音，跟韵母一齐构成的一个完整的音节。在现代汉语中，声母一共有</span>&nbsp;<strong>23</strong><span style="font-family: 宋体;">个。包含</span>b p m f d t n l g k h j q x zh ch sh r z c s y w</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;">以字母组成的域名中，根据声母可以拼出一些特定的含义，含义越丰富的域名越具有应用价值。</span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><span style="font-family: 宋体;">数字：包含</span>0-9<span style="font-family: 宋体;">的阿拉伯数字，不含</span>0<span style="font-family: 宋体;">和</span>4<span style="font-family: 宋体;">的域名在行业内受到更多投资人的青睐。</span></span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><span style="font-family: 宋体;">后缀：域名后缀，亦被称为顶级域名，是指代表一个域名类型的符号。</span> <span style="font-family: 宋体;">不同后缀的域名有不同的含义。目前域名共分为两类：<strong>国别域名</strong>（</span>ccTLD<span style="font-family: 宋体;">），例如中国的</span>.cn<span style="font-family: 宋体;">、美国的</span>.us<span style="font-family: 宋体;">、俄罗斯的</span>.ru<span style="font-family: 宋体;">、以及国际<strong>通用域名</strong>（</span>gTLD<span style="font-family: 宋体;">），例如</span>.com<span style="font-family: 宋体;">、</span>.xyz<span style="font-family: 宋体;">、</span>.top<span style="font-family: 宋体;">、</span>.wang<span style="font-family: 宋体;">、</span>.xin<span style="font-family: 宋体;">、</span>.net<span style="font-family: 宋体;">等</span>1000<span style="font-family: 宋体;">多种，所有域名后缀作用无差异，仅外观和本身含义不同，但只有少数例如举例中的域名后缀可以在国内支持网站的备案</span>&nbsp;<span style="font-family: 宋体;">。</span></span>
</p>
<p>
    <span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;;"><span style="font-family: 宋体; color: red;">注：在目前域名市场深受投资人欢迎的，投资参与热度最高的有：</span><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; color: red;">com</span><span style="font-family: 宋体; color: red;">、</span><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; color: red;">net</span><span style="font-family: 宋体; color: red;">、</span><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; color: red;">cn</span><span style="font-family: 宋体; color: red;">、</span><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; color: red;">cc</span><span style="font-family: 宋体; color: red;">、</span><span style="font-family: 微软雅黑, &#39;Microsoft YaHei&#39;; color: red;">com.cn</span><span style="font-family: 宋体; color: red;">几个后缀的各种衍生品种。</span></span>
</p>	
                </div>
            </div>
</div>
</div>
<!----------右侧内容框 end--------->
<!----------底部通栏块 begin--------->
<{include file="amui/am_footer.html"}>
<!----------底部通栏块 end--------->
</body>
</html>
