<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">	
<title>发送的PUSH详情 - 管理中心 - 炒米网</title>
<{include file="amui/am_header_css_js.html"}>
</head>
<body>
<!----------顶部通栏块 begin--------->
<{include file="amui/am_header.html"}>
<!----------顶部通栏块 end--------->
<!----------左侧导航菜单 begin--------->
<{include file="amui/am_left_nav.html"}>
<!----------左侧导航菜单 end--------->
		<!----------右侧内容框 begin--------->
        <div class="tpl-content-wrapper">
            <div class="tpl-portlet-components" style="padding-bottom:300px;">
                    <div class="am-g tpl-tabs">
                        <div class="am-u-sm-12 am-u-md-12 tpl-tabs-nav">
							<ul class="am-fl">
							  <li<{if $act=='push_apply'}> class="active"<{/if}>><a href="<{url c='push' a='apply'}>">PUSH域名</a></li>
							  <li<{if $act=='push_accept_list'}> class="active"<{/if}>><a href="<{url c='push' a='accept_list'}>">收到的请求</a></li>
							  <li<{if $act=='push_send_list'}> class="active"<{/if}>><a href="<{url c='push' a='send_list'}>">发送的请求</a></li>
							</ul>						
                        </div>						
                    </div>				
                <div class="tpl-block">
                    <div class="am-g">
							<div class="am-alert am-alert-secondary am-margin-left am-margin-right">
								<p>
								温馨提示：发送push请求后，如果对方接收成功域名就不再属于您所有，请认真正确核对PUSH的域名、索要的金额、对方的会员ID等重要信息。
								</p>
							</div>					
						<div class="am-g am-padding">
							<div class="am-u-sm-12 am-u-md-10">
								<div class="am-form am-form-horizontal">
									
									<div class="am-form-group">
										<label class="am-u-sm-3 am-form-label">PUSH类型</label>
										<div class="am-u-sm-9">
											<div style="margin-top:.7rem;" class="font-red">发送PUSH</div>									
										</div>
									</div>	
									
									<div class="am-form-group">
										<label class="am-u-sm-3 am-form-label">对方的会员ID</label>
										<div class="am-u-sm-9">
													<div style="margin-top:.7rem;"><{$ret.accept_mid}></div>
										</div>
									</div>		
									<div class="am-form-group">
										<label class="am-u-sm-3 am-form-label">域名数量</label>
										<div class="am-u-sm-9">
													<div style="margin-top:.7rem;" class="font-blue"><{$ret.domain_count}>个</div>
										</div>
									</div>										
									<div class="am-form-group">
										<label class="am-u-sm-3 am-form-label">索要金额</label>
										<div class="am-u-sm-9">
											<div style="margin-top:.7rem;"><{$ret.money}>元</div>									
										</div>
									</div>	
									<div class="am-form-group">
										<label class="am-u-sm-3 am-form-label">手续费</label>
										<div class="am-u-sm-9">
											<div style="margin-top:.7rem;">0%</div>
										</div>
									</div>	
									<div class="am-form-group">
										<label class="am-u-sm-3 am-form-label">备注</label>
										<div class="am-u-sm-9">
												<div style="margin-top:.7rem;max-width:450px;word-wrap:break-word; word-break:break-all;"><{$ret.note}></div>									
										</div>
									</div>		
									<div class="am-form-group">
										<label class="am-u-sm-3 am-form-label">状态</label>
										<div class="am-u-sm-9">
												<div style="margin-top:.7rem;">
														<{if $ret.status == 1}> 
														<span style="color:#ff4800;">对方未接收</span>
														<{elseif $ret.status == 2}> 
														<span class="font-green">对方已接收</span>
														<{elseif $ret.status == 3}> 
														<span class="font-red">对方已拒绝</span>
														<{elseif $ret.status == 4}> 
														我已取消											
														<{/if}>												
												
												</div>									
										</div>
									</div>	

									<{if $ret.status == 1}> 
									<div class="am-form-group am-padding-top">
										<div class="am-u-sm-5 am-u-sm-push-3">
											<button type="button" class="am-btn am-btn-warning am-btn-block am-radius" onclick="push_cancel(<{$ret.id}>)">取消PUSH</button>
										</div>
									</div>
									<{/if}>
								<div class="am-form-group">
									<label class="am-u-sm-3 am-form-label">发送的域名</label>
									<div class="am-u-sm-9" style="">								
										<table class="am-table am-table-hover tpl-table-uppercase">						
											<thead>
												<tr>
													<th>域名</th>
													<th>品种</th>
													<th>到期时间</th>
													<th>注册商平台</th>
												</tr>
											</thead>
													<tbody>
													<{if !$domain_list}>
														<tr style="height:40px;"><td colspan="3" style="text-align:center;line-height: 40px;">暂无域名</td></tr>
													<{/if}>
													<{foreach $domain_list as $k => $v}>
													<tr style="height:40px;">
														<td><{$v.domain}></td>
														<td><{$v.name}></td>
														<td><{$v.expire_time}></td>
														<td><{$v.pingtai}></td>
													</tr>
													<{/foreach}>	
												
													</tbody>		
													
										</table>																			
										</div>															
									</div>									
								
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="am-cf" style="margin-top:100px;"></div>		
            </div>
        </div>
		<!----------右侧内容框 end--------->
		
<script type="text/javascript">
    function push_cancel(id){
		layer.confirm("确定取消这条转移域名PUSH吗？",{btn:['确定'],title:'提示'}
				,function(){
				 
				$.get('/push/cancel?action=send&id='+id,function(ret){
					if(ret.status>1){
						if(ret.status==200){
							layer.confirm(ret.msg,{btn:['好的'],title:'提示'}
									,function(){
									  location.reload(true)
							});
							return;
						}else{
							layer.msg(ret.msg)
						}
					}
					layer.msg('取消push出错，请稍等重试')
				}, "json");
		});	
    }
</script>
<!----------底部通栏块 begin--------->	
<{include file="amui/am_footer.html"}>	
<!----------底部通栏块 end--------->	
</body>
</html>