<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">	
<title>财务记录 - 管理中心 - 炒米网</title>
<{include file="amui/am_header_css_js.html"}>
</head>
<body>
<!----------顶部通栏块 begin--------->
<{include file="amui/am_header.html"}>
<!----------顶部通栏块 end--------->
<!----------左侧导航菜单 begin--------->
<{include file="amui/am_left_nav.html"}>
<!----------左侧导航菜单 end--------->
		<!----------右侧内容框 begin--------->
        <div class="tpl-content-wrapper">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    <div class="caption">财务记录</div>
                </div>
                    <div class="am-g tpl-tabs">
                        <div class="am-u-sm-12 am-u-md-12 tpl-tabs-nav">
							<ul class="am-fl">
							  <li<{if $status==0}> class="active"<{/if}>><a href="<{url c='capital' a='capitalRecord'}>">全部记录</a></li>
							  <li<{if $status==500}> class="active"<{/if}>><a href="<{spUrl c=capital a=capitalRecord status=500}>">消费记录</a></li>
							  <li<{if $status==501}> class="active"<{/if}>><a href="<{spUrl c=capital a=capitalRecord status=501}>">入款记录</a></li>
							</ul>						
                        </div>						
                    </div>
                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12">
                                <table class="am-table am-table-hover tpl-table-uppercase">
                                    <thead>
                                        <tr>
                                            <th class="table-type">类型</th>
                                            <th>时间</th>
                                            <th>交易金额</th>
                                            <th>实时余额</th>
                                            <th>备注</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										<{if $pager.total_count==0}>
										<tr style="height:60px;">
											<td colspan="8" style="text-align:center;line-height: 50px;">暂无相关记录</td>
										</tr>
										<{/if}>											
                                    <{if $res}>
                                    <{foreach from=$res item=v}>
                                    <tr>
                                        <td><span <{if $v.type==500}>class="font-blue"<{elseif $v.type==501}>class="font-red"<{/if}>><{$v.statename}></span></td>
                                        <td><{date('Y-m-d H:i:s',$v.deal_time)}></td>
                                        <td><{$v.amount}></td>
                                        <td><{$v.balance}></td>
                                        <td><{$v.note}></td>
                                    </tr>
                                    <{/foreach}>
                                    <{/if}>
                                    </tbody>
                                </table>
                                <div class="am-cf">
									<!--分页部分 begin-->
									<div class="am-fr">
										<ul class="am-pagination tpl-pagination">					
											<{if $pager}>
												<li class="am-disabled"><span>共<{$pager.total_count}>条/<{$pager.total_page}>页</span></li>
												<{if $pager.current_page != $pager.first_page}>
													<li><a href="<{spUrl c=capital a=capitalRecord  page=$pager.first_page status=$status}>">首页</a></li>
													<li><a href="<{spUrl c=capital a=capitalRecord  page=$pager.prev_page status=$status}>">上一页</a></li>
												<{/if}>
												<{foreach from=$pager.all_pages item=thepage}>
													<{if $thepage != $pager.current_page}>
														<li><a href="<{spUrl c=capital a=capitalRecord  page=$thepage status=$status}>"><{$thepage}></a></li>
													<{else}>
														<li class="am-active"><a href="<{spUrl c=capital a=capitalRecord  page=$thepage status=$status}>"><{$thepage}></a></li>
													<{/if}>
												<{/foreach}>
												<{if $pager.current_page != $pager.last_page}>
													<li><a href="<{spUrl c=capital a=capitalRecord  page=$pager.next_page status=$status}>">下一页</a></li>
													<li><a href="<{spUrl c=capital a=capitalRecord  page=$pager.last_page status=$status}>">末页</a></li>
												<{/if}>
											<{/if}>	
										</ul>		
									</div>
								    <!--分页部分 end-->	
								</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!----------右侧内容框 end--------->
<!----------底部通栏块 begin--------->	
<{include file="amui/am_footer.html"}>	
<!----------底部通栏块 end--------->	
</body>
</html>