<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">	
<title><{$ret.title}> - 网站公告 - 炒米网交易</title>
<meta name="keywords" content="炒米网">
<meta name="Description" Content="<{$ret.title}>，炒米网交易中心是一个专业的域名批量交易平台，实时挂单委托成交、24小时开盘交易、方便快捷 - 聪明的米农都在这里！">
<{include file="amui/am_i_header_css_js.html"}>
</head>
<body class="tpl-bg">
<!----------顶部通栏块 begin--------->
<{include file="amui/am_i_ot_header.html"}>
<!----------顶部通栏块 end--------->
<style>
.content p{line-height:24px;padding:0px;margin:0px;margin-bottom:3px;}
.content td{border:1px solid #e6e6e6;}
.content td{padding:5px;}
</style>
<div class="tpl-page-container">		
        <div class="am-g tpl-content-wrapper-i">
            <div class="tpl-portlet-components-i am-padding-bottom-0">
                    <div class="am-g">
                        <div class="am-u-sm-12">
                                   <div style="padding-bottom:4px;margin-bottom:20px;border-bottom:0px solid #e6e6e6;">    
                                        <div style="font-size:24px;color:#333;padding-top:5px;text-align:center"><{$ret.title}></div>
                                        <div style="color:#999;font-size:14px;padding-top:10px;text-align:center;margin-bottom:10px;">发布时间：<{$ret.create_time}> <{if $ret.create_time!=$ret.update_time}> 更新时间：<{$ret.update_time}><{/if}> </div>
                                        <div style="color:#333;font-size:14px;padding-top:10px;padding-bottom:10px;border-top: 1px solid #eee;" class="content"><{$ret.content}></div>
    								</div>
                                <div class="am-cf">
								</div>  
                        </div>
                    </div>								
            </div>
        </div>
</div>				
<!----------底部通栏块 begin--------->	
<{include file="amui/am_i_footer.html"}>	
<!----------底部通栏块 end--------->	
</body>
</html>