<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">	
<title><{if $module=='detail'}><{$type_name}> - <{/if}>炒米网 - 域名批量交易</title>
<meta name="keywords" content="炒米交易,炒米网,炒米域名<{if $module=='detail'}>,<{$type_name}><{/if}>">
<meta name="Description" Content="炒米网交易中心是一个专业的域名批量交易平台，实时挂单委托成交、一口价域名买卖交易、24小时开盘交易、方便快捷 - 聪明的米农都在这里！">
<{include file="amui/am_i_header_css_js.html"}>
<script type="text/javascript" src="http://cdn.bootcss.com/echarts/3.2.3/echarts.min.js"></script>
<script type="text/javascript" src="http://static.chaomi.cc/js/amui/assets/js/chart.js?t=20170703"></script>
</head>
<body class="tpl-bg">
<!----------顶部通栏块 begin--------->
<{include file="amui/am_i_header.html"}>
<!----------顶部通栏块 end--------->	
<style>
html,
body {
	min-width:1250px;
}
/*品种交易tabs*/
.i-nav-top-tabs{border-bottom:1px solid #4d4d4d;line-height:46px;margin-top:-5px;}
.i-nav-top-tabs-nav{max-width:1200px;}
.i-nav-top-tabs li{float:left;padding:0px 25px;}
.i-nav-top-tabs a{color:#C2C3C3;}
.i-nav-top-tabs li:hover{border-bottom:2px solid #F37B1D;color:#F37B1D;margin-bottom:-1px;}
.i-nav-top-tabs li:hover a{color:#C2C3C3;}
.i-nav-top-tabs .active,.i-nav-top-tabs .active:hover{border-bottom:2px solid #31394A;margin-bottom:-1px;background:#31394A}
.i-nav-top-tabs .active a,.i-nav-top-tabs .active:hover a{color:#C2C3C3;}
/*品种页*/
.ym_info_value dl{float:left;line-height:20px;margin-right:2.1rem;}
.ym_info_value dd{color:#999;font-size:12px;}
.ym_info_value dt{font-size:24px;font-weight:bold;color:#F60}
/*品种页 图表选项*/
.chart-tab-n {float:left;margin:0px 0px;border-bottom:1px solid #666; width:100%;}
.chart-tab-n a{font-size:14px;color:#666;float:left;font-weight:normal;padding:5px 10px;text-decoration:none;font-family:"微软雅黑";outline:none;border-bottom:none;}
.chart-tab-n a:hover{color:#F60;outline:none;}
.chart-tab-n .active{color:#F60;font-weight:normal;outline:none;border-bottom:1px solid #F60;margin-bottom:-5px;}
.chart-tb-n{width:100%;height:350px;margin-top:15px;margin-top:10px;float:left;width:620px;}

.tpl-table-uppercase-n {
	border:0px solid #e7e7eb;
    font-size: 14px;
    color: #ccc;
	margin-bottom: 0rem;
}

.tpl-table-uppercase-n>th {
    border: none!important;
}

.tpl-table-uppercase-n td {
    border-top: 0px solid #e7e7e7!important;
}
.tpl-table-uppercase-n thead {background:none;}
.am-table-hover-n>tbody>tr:hover>td,.am-table-hover-n>tbody>tr:hover>th{background-color:#4D4D4D;}
.tpl-table-uppercase-n>tbody>tr>td, .tpl-table-uppercase-n>tbody>tr>th, .tpl-table-uppercase-n>tfoot>tr>td, .tpl-table-uppercase-n>tfoot>tr>th, .tpl-table-uppercase-n>thead>tr>td, .tpl-table-uppercase-n>thead>tr>th {
    padding: .5rem .6rem;
    line-height: 1.6;
    vertical-align: top;
    border-top: 0px solid #ddd;
	font-size:14px;
	border:0px;
	color:#ccc;
	}
.am-form-group {
    margin-bottom: .8rem;
	}	
.am-form-group{
	color:#999;
}
.am-form-group .input_text {
	background-color: #26272a;
	border: 1px solid #4d4d4d;
	outline: 0;
	padding: 0;
	box-sizing: border-box;
	height: 36px;
	color: #fff;
	width: 100%;
	padding-right: 10px;
	text-align: right;
	border-radius: 1px;
}											
.am-form-group .unit {
	position: absolute;
	left: 25px;
	top: 8px;
	font-size: 14px;
	color:#999;
}	
.am-form-group .trade_amount {
	margin-top: 10px;
	border: 1px dashed #3c3e4b;
	padding: 5px 10px;
	font-size: 12px;
	height:35px;
	color: #bababa;
	width:250px;
}	
.am-form-group .unit-1 {
	position: absolute;
    right: 80px;
    top: 50%;
    margin-top: -6px;
    line-height: 1;	
}	
</style>
<!----------品种主框 begin--------->						
<div style="width:100%;background:#131313;">
		<div class="i-nav-top-tabs">
			<ul class="am-g i-nav-top-tabs-nav">
				  <li class="active"><a href="/f/411104">四声母COM.CN交易</a></li>
			</ul>						
		</div>
</div>		
<div style="width:100%;background:#31394A;margin-bottom:15px;">
	<div class="tpl-page-container">
        <div class="am-g tpl-content-wrapper-i">
            <div class="tpl-portlet-components-i am-padding-top am-padding-bottom" style="background:#31394A;border: 0px solid #e7ecf1;padding-left:0px;padding-right:0px;">
              
					<div class="am-g am-padding-top">
                        <div class="am-fl" style="width:1200px;">
								<span class="ym_info_value"><dl><dt id="hq_new_price"><span<{if $hq_data.zdf>0}> class="font-red"<{/if}><{if $hq_data.zdf<0}> class="font-green"<{/if}>><{if $hq_data.new_price>0}><{$hq_data.new_price}><{else}>-<{/if}></span></dt><dd>实时行情</dd></dl></span>		
								<span class="ym_info_value"><dl><dt id="hq_zdf"><{if $hq_data.zdf>0}><span class="font-red">+<{$hq_data.zdf}>%</span><{/if}><{if $hq_data.zdf==0}>-<{/if}><{if $hq_data.zdf<0}><span class="font-green"><{$hq_data.zdf}>%</span><{/if}></dt><dd>涨跌幅</dd></dl></span>		
								<span class="ym_info_value"><dl><dt id="hq_high_price"><{if $hq_data.high_price>0}><{$hq_data.high_price}><{else}>-<{/if}></dt><dd>今日最高价</dd></dl></span>	
								<span class="ym_info_value"><dl><dt id="hq_low_price"><{if $hq_data.low_price>0}><{$hq_data.low_price}><{else}>-<{/if}></dt><dd>今日最低价</dd></dl></span>	
								<span class="ym_info_value"><dl><dt id="hq_price"><{if $hq_data.price>0}><{$hq_data.price}><{else}>-<{/if}></dt><dd>今日成交额</dd></dl></span>	
								<span class="ym_info_value"><dl><dt id="hq_count"><{if $hq_data.count>0}><{$hq_data.count}><{else}>-<{/if}></dt><dd>今日成交量</dd></dl></span>	
								<span class="ym_info_value"><dl><dt id="hq_c_price"><{if $hq_data.c_price>0}><{$hq_data.c_price}><{else}>-<{/if}></dt><dd>总成交额</dd></dl></span>	
								<span class="ym_info_value"><dl><dt id="hq_c_count"><{if $hq_data.c_count>0}><{$hq_data.c_count}><{else}>-<{/if}></dt><dd>总成交量</dd></dl></span>	
								<span class="ym_info_value"><dl><dt id="hq_c_high_price"><{if $hq_data.c_high_price>0}><{$hq_data.c_high_price}><{else}>-<{/if}></dt><dd>历史最高价</dd></dl></span>							
                        </div>						
					</div>
					
					
					<!--****************************************左侧大框 begin****************************************-->
					<div class="am-fl" style="background:#ddd;width:260px;">
							<!----------最近成交域名列表 begin---------->
							<div class="am-fl" style="background:#131313;width:260px;padding:0px 5px;">
								<table class="am-table am-table-hover-n tpl-table-uppercase-n" id="deal-data-list">
										<thead>
											<tr>
												<th>时间</th>
												<th>域名</th>
												<th>价格</th>
											</tr>
										</thead>
										<tbody>
												<{foreach item=v from=$deal_datas key=k}>
												<tr>
													<td><{$v.deal_time}></td><td><{$v.domain}></td><td class="<{if $v.deal_status==2}> font-red<{/if}><{if $v.deal_status==1}> font-green<{/if}>"><{$v.deal_price}></td>
												</tr>
												<{/foreach}>												
										</tbody>
									</table>
							</div>
							<!----------最近成交域名列表 end---------->
					</div>
					<!--****************************************左侧大框 end****************************************-->
					
					<!--****************************************右侧大框 begin****************************************-->
					<div class="am-fr" style="background:#131313;width:935px;">
							<!----------品种行情图表 begin---------->
							<div class="am-fl" style="background:#131313;width:650px;padding:0px 5px;">
								<div class="chart-tab-n">
									<a id="chart-p0" onclick="chart_i(0)">5日</a>
									<a id="chart-p1" onclick="chart_i(1)">10日</a>
									<a id="chart-p2" class="active" onclick="chart_i(2)">15日</a>
									<a id="chart-p10000" onclick="chart_k(10000)">日K线</a>
								</div>
								<div id="chart-i-error"></div>
								<div id="chart-i" class="chart-tb-n"></div>	
							</div>
							<!----------品种行情图表 begin---------->
							<div class="am-fr" style="background:#131313;width:280px;margin-left:5px;padding:0px 5px;">
								<table class="am-table am-table-hover-n tpl-table-uppercase-n" id="wt-list">
										<thead>
											<tr>
												<th>档位</th>
												<th>单价</th>
												<th>数量</th>
												<th>总价</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>-</td>
												<td>-</td>
												<td>-</td>
												<td>-</td>
											</tr>										
										</tbody>
									</table>
							</div>						
							<!----------买卖盘档位列表 end---------->
					
							<!----------买入or卖出操作框 begin---------->
							<div class="am-fl" style="background:#131313;width:100%;padding:0px 5px;">
									<div class="am-g">
										<div class="am-u-sm-12 am-u-md-6" style="border-right:1px solid #2D2F33">
											<div class="portlet-title" style="border:0px;margin-left:0px;margin-bottom:0px;">
												<div class="caption font-red">批量买入</div>
											</div>
											<div class="tpl-block">						
											<form id="wt_buy" method="post" action="http://jy.chaomi.cc/trading/trade_buy">
												<div class="am-form am-form-horizontal">
														<div class="am-form-group">
															<label class="am-u-sm-3 tpl-text-align-r"></label>
															<div class="am-u-sm-9">
																可用资金 <span style="font-size: 18px;font-weight: bold;color: #F60;"><span id="totAccount">-</span></span> 元
															</div>
														</div>												
														<div class="am-form-group">
															<label class="am-u-sm-3 tpl-text-align-r">交易品种：</label>
															<div class="am-u-sm-9">
																<span id="totName-buy">-</span>
															</div>
														</div>	
												
														<div class="am-form-group">
															<label class="am-u-sm-3 am-form-label"></label>
															<div class="am-u-sm-9">
																	<input type="text" class="input_text" name="price" min="1" value="" style="width:250px;color:#fff;padding-right:35px;background-color:#26272a;border: 1px solid #4d4d4d;" placeholder="" required="required">
																	<span class="unit">买入价：</span>
																	<span class="unit-1">元</span>
															</div>
														</div>	
														<div class="am-form-group">
															<label class="am-u-sm-3 am-form-label"></label>
															<div class="am-u-sm-9">
																	<input type="text" class="input_text" name="number" min="1" value="" style="width:250px;color:#fff;padding-right:35px;background-color:#26272a;border: 1px solid #4d4d4d;" placeholder="" required="required">
																	<span class="unit">买入量：</span>
																	<span class="unit-1">个</span>
															</div>
														</div>	
														<div class="am-form-group">
															<label class="am-u-sm-3 tpl-text-align-r"></label>
															<div class="am-u-sm-9">
																	<div class="trade_amount"> <p>交易额：<b class="am-fr" style="font-size: 14px;color: #fff;"><span id="totBuy">-</span></b></p></div>
															</div>
														</div>			
														<div class="am-form-group">
															<label class="am-u-sm-3 am-form-label">有效时间：</label>
															<div class="am-u-sm-9">
																<select name="wt" style="width:150px;color:#fff;padding-right:10px;background-color:#26272a;border: 1px solid #4d4d4d;">
																		<option value=0 selected>一直有效</option>
																		<option value=1>1天</option>
																		<option value=3>3天</option>
																		<option value=5>5天</option>
																		<option value=10>10天</option>
																</select>
															</div>
														</div>										
														<div class="am-form-group">
															<label class="am-u-sm-3 am-form-label">交易密码：</label>
															<div class="am-u-sm-9">
																	<input type="password" name="password" value="" style="width:250px;color:#fff;padding-right:10px;background-color:#26272a;border: 1px solid #4d4d4d;"required="required">
															</div>
														</div>
													<div class="am-form-group am-margin-top">
														<div class="am-u-sm-12 am-u-sm-push-0">											
															<button type="submit" class="am-btn am-btn-warning am-btn-block am-radius" data-am-loading="{spinner: 'spinner', loadingText: '提交买单中...'}" id="wt_buy_sub">买入</button>
														</div>
													</div>	
														<div class="am-form-group">
															<label class="am-u-sm-12 tpl-text-align-l"><a href="/capital/recharge" style="color:#F37B1D;" target="_blank">立即充值 <span class="am-icon-chevron-circle-right"></span></a></label>
														</div>														
												</div>	
												</form>
											</div>	
										</div>	
											<div class="am-u-sm-12 am-u-md-6">
												<div class="portlet-title" style="border:0px;">
													<div class="caption font-blue">批量卖出</div>
												</div>
												<div class="tpl-block" style="padding-top: 0px;">						
											<form id="wt_sale" method="post" action="http://jy.chaomi.cc/trading/trade_sale">
												<div class="am-form am-form-horizontal">
														<div class="am-form-group">
															<label class="am-u-sm-3 tpl-text-align-r"></label>
															<div class="am-u-sm-9">
																可卖数量 <span style="font-size: 18px;font-weight: bold;color: #F60;"><span id="numSale" class="font-blue">0</span></span> 个
															</div>
														</div>												
														<div class="am-form-group">
															<label class="am-u-sm-3 tpl-text-align-r">交易品种：</label>
															<div class="am-u-sm-9">
																<span id="totName-sale">-</span>
															</div>
														</div>	
														<div class="am-form-group">
															<label class="am-u-sm-3 am-form-label"></label>
															<div class="am-u-sm-9">
																	<input type="text" class="input_text" name="price" min="1" value="" style="width:250px;color:#fff;padding-right:35px;background-color:#26272a;border: 1px solid #4d4d4d;" placeholder="" required="required">
																	<span class="unit">卖出价：</span>
																	<span class="unit-1">元</span>
															</div>														
														</div>	
														<div class="am-form-group">
															<label class="am-u-sm-3 am-form-label"></label>
															<div class="am-u-sm-9">
																	<input type="text" class="input_text" name="number" min="1" value="" style="width:250px;color:#fff;padding-right:35px;background-color:#26272a;border: 1px solid #4d4d4d;" placeholder="" required="required">
																	<span class="unit">卖出量：</span>
																	<span class="unit-1">个</span>
															</div>
														</div>
														<div class="am-form-group">
															<label class="am-u-sm-3 tpl-text-align-r"></label>
															<div class="am-u-sm-9">
																	<div class="trade_amount"> 
																	<p>交易额：<b class="am-fr" style="font-size: 14px;color: #fff;"><span id="totSale">0</span></b></p>
																	</div>
															</div>
														</div>			
														<div class="am-form-group">
															<label class="am-u-sm-3 am-form-label">有效时间：</label>
															<div class="am-u-sm-9">
																<select name="wt" style="width:150px;color:#fff;padding-right:10px;background-color:#26272a;border: 1px solid #4d4d4d;">
																		<option value=0 selected>一直有效</option>
																		<option value=1>1天</option>
																		<option value=3>3天</option>
																		<option value=5>5天</option>
																		<option value=10>10天</option>
																</select>
															</div>
														</div>										
														<div class="am-form-group">
															<label class="am-u-sm-3 am-form-label">交易密码：</label>
															<div class="am-u-sm-9">
																	<input type="password" name="password" value="" style="width:250px;color:#fff;padding-right:10px;background-color:#26272a;border: 1px solid #4d4d4d;"required="required">
															</div>
														</div>
													<div class="am-form-group am-margin-top">
														<div class="am-u-sm-12 am-u-sm-push-0">									
															<button type="submit" class="am-btn am-btn-primary am-btn-block am-radius" data-am-loading="{spinner: 'spinner', loadingText: '提交卖单中...'}" id="wt_sale_sub">卖出</button>
														</div>
													</div>	
														<div class="am-form-group">
															<label class="am-u-sm-12 tpl-text-align-r">当前费率：<span id="totsRate">-</span></label>
														</div>													
												</div>
												</form>
											</div>	
										</div>	
									</div>				
							</div>
							<!----------买入or卖出操作框 end---------->				

							<!----------当前委托订单列表 begin---------->	
							<div class="am-fl" style="background:#131313;width:100%;padding:0px 5px;margin-top:-10px;">
									<table class="am-table am-table-hover-n tpl-table-uppercase-n" id="order-data-list">
											<thead style="background: #1e1e1e;">
												<tr>
													<th colspan="10"><span style="font-size:14px;">当前委托</span></th>

												</tr>
											</thead>								
											<thead>
												<tr>
													<th>编号</th>
													<th>时间</th>
													<th>类型</th>
													<th>品种</th>
													<th>单价</th>
													<th>总额</th>
													<th>委托总数/已成交数</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>-</td>
													<td>-</td>
													<td>-</td>
												</tr>										
											</tbody>
									</table>								
							</div>
							<!----------当前委托订单列表 end---------->	
						</div>
						<!--****************************************右侧大框 end****************************************-->
					</div>					
				</div>
			</div>
		</div>
	</div>	
</div>
<!----------品种主框 end--------->	

<!----------平台成交数据一览 begin--------->

	<div class="tpl-page-container">	
        <div class="am-g tpl-content-wrapper-i" style="margin-bottom:0px;">
            <div class="tpl-portlet-components-i" style="padding-top:10px;padding-bottom:10px;font-size:18px;">
                   平台实时总成交额 <span class="font-red" id="now-trans-p">-</span> 元，总成交量 <span class="font-red" id="now-trans-c">-</span> 个 <span class="am-margin-left"></span> 昨日总成交额 <span class="font-red" id="yet-trans-p">-</span> 元，总成交量 <span class="font-red" id="yet-trans-c">-</span> 个 
				   <span style="font-size:12px;margin-left:2.5rem;"><span id="now-uptime"></span></span>
            </div>
        </div>
	</div>		
<!----------平台成交数据一览 end--------->
<script type="text/javascript">
var typeid = <{$typeid}>;
	$(document).ready(function(){
			//------------买入表单
			var buy_confirm = false;
			var options = {
				 type:"POST",//请求方式：get或post
				 dataType:"json",//数据返回类型：xml、json、script
				 beforeSerialize:function(){
						//询问框
						var price = parseFloat($('#wt_buy input:eq(0)').val());
						var num = parseInt($('#wt_buy input:eq(1)').val());					
						var name = $('#totName-buy').text();					
						if (confirm("确定以单价"+price+"元批量买入"+num+"个"+name+"域名(共计金额："+price*num+"元)")==true){
							$("#wt_buy_sub").button('loading');
						}else{
							return false;
						}
				 },
				 data:{'typeid':typeid},//自定义提交的数据
				 beforeSubmit:function(){
					//alert("表单提交前执行的操作！");
					//if($("#test").val()==""){return false;}//如：验证表单数据是否为空
				 },
				 success:function(data){//表单提交成功回调函数
					if(data.status>1){
						layer.msg(data.msg)
					}
					if(data.status==200){
						$('#wt_buy')[0].reset() //重置表单
						order_data(); //立即更新我的委托订单列表
						running_price();//平台前五委托单列表
						$('#totBuy').text('0');
						//location.reload(true)
					}
					$("#wt_buy_sub").button('reset');
				 },
				 error:function(err){
					layer.msg('委托买入提交错误，请稍候重试')
					$("#wt_buy_sub").button('reset');
				 }
			};
			$("#wt_buy").ajaxForm(options);
			
			//------------卖出表单
			var options = {
				 type:"POST",
				 dataType:"json",
				 beforeSerialize:function(){
						//询问框
						var price = parseFloat($('#wt_sale input:eq(0)').val());
						var num = parseInt($('#wt_sale input:eq(1)').val());					
						var name = $('#totName-sale').text();					
						if (confirm("确定以单价"+price+"元批量卖出"+num+"个"+name+"域名")==true){
							$("#wt_sale_sub").button('loading');
						}else{
							return false;
						}					
				 },
				 data:{'typeid':typeid},//自定义提交的数据
				 beforeSubmit:function(){
				 },
				 success:function(data){//表单提交成功回调函数
					if(data.status>1){
						layer.msg(data.msg)
					}
					if(data.status==200){
						$('#wt_sale')[0].reset() //重置表单
						order_data(); //立即更新我的委托订单列表
						running_price();//平台前五委托单列表
						$('#totSale').text('0');
						//location.reload(true)
					}
					$("#wt_sale_sub").button('reset');
				 },
				 error:function(err){
					layer.msg('委托卖出提交错误，请稍候重试')
					$("#wt_sale_sub").button('reset');
				 }
			};
			$("#wt_sale").ajaxForm(options);		
			
	});
    function running_price(){ 
		//平台前五委托单列表
		$.get("/p/"+typeid,function(ret){
			if(ret.status==200){
				$("#wt-list tbody").empty();
				var sale_list = ''
				$.each(ret.sale_list,function(k,v){
					if(v['number']>0){
						if(k=='卖1' && v['price']>0 && $('#wt_sale input:eq(0)').val()==0){
							$('#wt_sale input:eq(0)').val(parseInt(v['price']));
						}
						sale_list = 
						'<tr onclick="onclick_price('+v['price']+')"><td class="font-green">'+k+'</td>'+
						'<td>￥'+v['price']+'</td>'+
						'<td>'+v['number']+'个</td>'+
						'<td>￥'+v['price_c']+'</td></tr>'
					}else{
						sale_list = '<tr><td class="font-green">'+k+'</td>'+'<td>-</td><td>-</td><td>-</td></tr>'					
					}
					$("#wt-list tbody").append(sale_list);
				});
				var buy_list = ''
				$.each(ret.buy_list,function(k,v){
					if(v['number']>0){
						if(k=='买1' && v['price']>0 && $('#wt_buy input:eq(0)').val()==0){
							$('#wt_buy input:eq(0)').val(parseInt(v['price']));
						}					
						buy_list = 
						'<tr onclick="onclick_price('+v['price']+')"><td class="font-red">'+k+'</td>'+
						'<td>￥'+v['price']+'</td>'+
						'<td>'+v['number']+'个</td>'+
						'<td>￥'+v['price_c']+'</td></tr>'
					}else{
						buy_list = '<tr><td class="font-red">'+k+'</td>'+'<td>-</td><td>-</td><td>-</td></tr>'					
					}
					$("#wt-list tbody").append(buy_list);
				});	
				//---顶部行情参数---begin
				hq_list = ret.hq_list;
				try {
					$.each(hq_list,function(k,v){
						if(v){
							var zdf = parseFloat(hq_list['zdf']);
							if(k=='new_price'){
								if(zdf>0)v = '<span class="font-red">'+v+'</span>';
								if(zdf<0)v = '<span class="font-green">'+v+'</span>';
								if(zdf==0)v = '<span>'+v+'</span>';
							}
							if(k=='zdf'){
								if(zdf>0)v = '<span class="font-red">+'+v+'%</span>';
								if(zdf<0)v = '<span class="font-green">'+v+'%</span>';
								if(zdf==0)v = '<span>-</span>';
							}	
							if(k=='high_price' || k=='low_price' || k=='c_high_price')v = v>0?''+v:'-';
							if(k=='count' || k=='c_count')v = v>0?v +'':'-';
							if(k=='price' || k=='c_price')v = v>0?v +'':'-';
							$("#hq_"+k).html(v);
						}
					});
				} catch (e) {
				}
				//---顶部行情参数---end
			}	
		}, "json");
    }
	deal_data()
	function deal_data(){ 
		//取出最近成交记录数据
		$.get('/deal_data/api?from=index&typeid='+typeid,function(ret){
		 if(ret.status==200){
				var domainlist = ret.domainlist;
				$("#deal-data-list tbody").empty();
				if(!domainlist){
					$("#deal-data-list tbody").append('<tr style="height:20px;"><td colspan="3" style="text-align:center;line-height: 20px;">暂无相关成交记录</td></tr>');
				}				
				$.each(domainlist,function(k,v) {
					var deal_status = '';
					if(v['deal_status']==1) deal_status = 'font-green';
					if(v['deal_status']==2) deal_status = 'font-red';
					str = '<tr><td style="color:#999;">'+v['deal_time']+'</td><td style="color:#666;">'+v['domain']+'</td><td class="'+deal_status+'">'+v['deal_price']+'</td></tr>'
					
					if(k+1<25)$("#deal-data-list tbody").append(str);
				});		
		 }	          
	   }, "json");
	}
	function order_cancel(id){ 
		//撤销委托订单
		$.get('/trading/cancel_order_buyer?id='+id,function(ret){
		 if(ret.status>1){
			layer.msg(ret.msg)
			 if(ret.status==200){
				order_data();//取出当前委托订单列表
				running_price();//平台前五委托单列表
			 }
			return; 
		 } 
		 layer.msg('撤销委托订单出错，请稍等重试')
	   }, "json");
	}	
	function order_data(){ 
		//取出当前委托订单列表
		$.get('/trading/wt_data?typeid='+typeid,function(ret){
			if(ret.status==200){
				//取指导价 余额 可卖数量等
				//卖买价格
				$('#priceBuy').text(ret.recom_price);
				$('#priceSale').text(ret.recom_price);
				//余额
				$('#totAccount').text(ret.account);
				//品种名字
				$('#totName-buy').text(ret.name);
				$('#totName-sale').text(ret.name);
				//可卖数量
				$('#numSale').text(ret.sale_num);
				//手续费
				$('#totsRate').text(ret.sRate);
				$('#totbRate').text(ret.bRate);
				if(ret.is_user==0){
					//$('#wt_sale input:eq(0)').attr("disabled",true); 
					//$('#wt_sale input:eq(1)').attr("disabled",true); 
					//$('#wt_sale input:eq(2)').attr("disabled",true); 
					//$('#wt_sale select:eq(0)').attr("disabled",true); 
					$('#wt_sale_sub').attr('disabled',"true");
					$('#wt_sale_sub').text('请登录，再卖出');
					//$('#wt_buy input:eq(0)').attr("disabled",true); 
					//$('#wt_buy input:eq(1)').attr("disabled",true); 
					//$('#wt_buy input:eq(2)').attr("disabled",true); 
					//$('#wt_buy select:eq(0)').attr("disabled",true); 
					$('#wt_buy_sub').attr('disabled',"true");
					$('#wt_buy_sub').text('请登录，再买入');
				}
				if(ret.is_user==1){
					$('#wt_sale_sub').removeAttr("disabled"); 
					$('#wt_sale_sub').text('卖出');
					$('#wt_buy_sub').removeAttr("disabled"); 
					$('#wt_buy_sub').text('买入');
				}				
			}		
		 if(ret.status==200){
				<!-- if(ret.is_user==1){ -->
					<!-- $("#order-data-list-content").show() -->
				<!-- }	  -->
				var orderlist = ret.orderlist;
				var type_str = '-'
				var bargain_time = '-'
				$("#order-data-list tbody").empty();
				if(!orderlist){
					$("#order-data-list tbody").append('<tr style="height:20px;"><td colspan="10" style="text-align:center;line-height: 20px;">暂无相关有效的委单</td></tr>'	);
				}				
				$.each(orderlist,function(k,v) {
						if(v['status_2']=='1')type_str='<span class="font-red">买入</span>';
						if(v['status_2']=='0')type_str='<span class="font-blue">卖出</span>';
						<!-- if(v['bargain_time'])bargain_time=v['bargain_time']; -->
						str= '<tr><td>'+v['id']+'</td>'+
							'<td>'+v['order_time']+'</td>'+
							'<td>'+type_str+'</td>'+
							'<td>'+v['name']+'</td>'+
							'<td>￥'+v['price']+'</td>'+
							'<td>￥'+v['total_price']+'</td>'+
							'<td>'+v['number']+'/'+v['deal_num']+'</td>'+
							'<td><a onclick="order_cancel('+v['id']+')">撤单</a></td></tr>'
						
					$("#order-data-list tbody").append(str);
				});		
		 }	          
	   }, "json");
	}
	function nowApi(){ 
		//平台成交数据一览
		$.get('/deal_data/nowApi',function(ret){
		 if(ret.status==200){
			$('#now-trans-p').text(ret.nowp);
			$('#now-trans-c').text(ret.nowc);
			$('#yet-trans-p').text(ret.yetp);
			$('#yet-trans-c').text(ret.yetc);
			$('#now-uptime').text('更新时间：'+ret.update_time);
		 }	          
	   }, "json");
	}	
	function domain_go(name){
		layer.msg(name+'域名品种目前还未上线，请期待！')
	}
	function onclick_price(price){
		$('#wt_sale input:eq(0)').val(price);
		$('#wt_sale input:eq(0)').css('border-color','#1997e5');
		$('#wt_buy input:eq(0)').val(price);
		$('#wt_buy input:eq(0)').css('border-color','#F37B1D');
	}	
$(function () {
	running_price();
	order_data();
	deal_data();
	nowApi();
	//chart_k(10000)
	chart_i(2)
	window.setInterval(running_price,3000); //平台委托前五
	window.setInterval(order_data,4000); //当前委托订单列表
	window.setInterval(deal_data,5000); //最近成交记录	
	window.setInterval(nowApi,10000); //平台成交数据一览
		
    //卖价
    $('#wt_sale input:eq(0)').blur(function(){
        var price=parseFloat($(this).val());
        var num=$('#wt_sale input:eq(1)').val();
        var money=<{$typeid_price}>;
		$('#wt_sale input:eq(0)').css('border-color','#1997e5');
        if(num>0){
            var tot=num*price;
            $('#totSale').text(tot);
        }
        if(money >0){
            //var max = toDecimal2(parseFloat(money * 1.3));
            var min = toDecimal2(parseFloat(money * 1));
            if (min > price) {
                layer.msg('卖出价不符合规则，不能低于：'+ min + '元');
                $(this).css('border-color','#1997e5');
				$(this).focus();
                return;
            }
        }
		$('#wt_sale input:eq(0)').css('border-color','#4d4d4d');
		$('#wt_sale input:eq(1)').css('border-color','#4d4d4d');
    });
    //卖数
    $('#wt_sale input:eq(1)').blur(function(){
        var num=parseInt($(this).val());
        var price=parseFloat($('#wt_sale input:eq(0)').val());
        var totN=parseInt($('#numSale').text());
		$('#wt_sale input:eq(1)').css('border-color','#1997e5');
		if(num<0)$(this).focus();
        if(num > 0 ){
            var tot=price*num;
            $('#totSale').text(tot);
        }
        if(num > totN){
            layer.msg("超出可卖域名数量"+totN+'个');
			<!-- $('#wt_sale input:eq(1)').val(totN); -->
            $(this).css('border-color','#1997e5');
            $(this).focus();
            return;
        }
		$('#wt_sale input:eq(0)').css('border-color','#4d4d4d');
		$('#wt_sale input:eq(1)').css('border-color','#4d4d4d');
    });
    //买价
    $('#wt_buy input:eq(0)').blur(function(){
        var price=parseFloat($(this).val());
        var num=parseInt($('#wt_buy input:eq(1)').val());
        //var money=parseFloat($('#priceBuy').text());
        var money=<{$typeid_price}>;
		$('#wt_buy input:eq(0)').css('border-color','#F37B1D');
        if(money >0) {
            //var max = toDecimal2(parseFloat(money * 1.3));
            var min = toDecimal2(parseFloat(money * 1));
            if (min > price) {
                layer.msg('买入价不符合规则，不能低于：'+ min + '元');
                $(this).css('border-color','#F37B1D');
				$(this).focus();
                return;
            }
        }
        if(num>0){
            var tot = num*price;
            $('#totBuy').text(tot);
            var usedBuy=parseFloat($('#totAccount').text());
            if(tot > usedBuy){
                layer.msg("超出可用余额，当前余额："+usedBuy+'元');
                $('#wt_buy input:eq(1)').css('border-color','#F37B1D');
                return;
            }
        }
		 $('#wt_buy input:eq(0)').css('border-color','#4d4d4d');
		 $('#wt_buy input:eq(1)').css('border-color','#4d4d4d');
    });
    //买数
    $('#wt_buy input:eq(1)').blur(function(){
        var num=parseInt($(this).val());
        var price=parseFloat($('#wt_buy input:eq(0)').val());
		$('#wt_buy input:eq(1)').css('border-color','#F37B1D');
		if(num<0)$(this).focus();
        if(num > 0 && price >0){
            var tot=price*num;
            $('#totBuy').text(tot);
            var usedBuy=parseFloat($('#totAccount').text());
            if(tot > usedBuy){
                layer.msg("超出可用余额，当前余额："+usedBuy+'元');
                $('#wt_buy input:eq(1)').css('border-color','#F37B1D');
                return;
            }
        }
		 $('#wt_buy input:eq(0)').css('border-color','#4d4d4d');
		 $('#wt_buy input:eq(1)').css('border-color','#4d4d4d');
    });
    //制保留2位小数，如：2，会在2后面补上00.即2.00    
    function toDecimal2(x) {    
        var f = parseFloat(x);    
        if (isNaN(f)) {    
            return false;    
        }    
        var f = Math.round(x*100)/100;    
        var s = f.toString();    
        var rs = s.indexOf('.');    
        if (rs < 0) {    
            rs = s.length;    
            s += '.';    
        }    
        while (s.length <= rs + 2) {    
            s += '0';    
        }    
        return s;    
    }		
});

</script>	
<!----------底部通栏块 begin--------->	
<{include file="amui/am_i_footer.html"}>	
<!----------底部通栏块 end--------->	
</body>
</html>