<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">	
<title>停放列表 - 管理中心 - 炒米网</title>
<{include file="amui/am_header_css_js.html"}>
</head>
<body>
<!----------顶部通栏块 begin--------->
<{include file="amui/am_header.html"}>
<!----------顶部通栏块 end--------->
<!----------左侧导航菜单 begin--------->
<{include file="amui/am_left_nav.html"}>
<!----------左侧导航菜单 end--------->
		<!----------右侧内容框 begin--------->
        <div class="tpl-content-wrapper">
            <div class="tpl-portlet-components" style="padding-bottom:100px;">
                    <div class="am-g tpl-tabs">
                        <div class="am-u-sm-12 am-u-md-12 tpl-tabs-nav">
							<ul class="am-fl">
							  <li<{if $act=='parking_apply'}> class="active"<{/if}>><a href="<{url c='parking' a='apply'}>">停放域名</a></li>
							  <li<{if $act=='parking_applyList'}> class="active"<{/if}>><a href="<{url c='parking' a='applyList'}>">停放列表</a></li>
							</ul>							
                        </div>						
                    </div>	
                <div class="tpl-block">
                    <div class="am-g">
							<div class="am-alert am-alert-secondary am-margin-left am-margin-right" style="margin-bottom:10px;">
								<p>
								温馨提示：停放中的域名只可以申请一口价(交易费10%)。 停放周期内自动获取定期收益，停放到期后才可操作交易或转出域名。
								</p>
							</div>	
                    <form action="<{url c='parking' a='applyList'}>" method="get" class="am-form am-form-horizontal am-margin-left am-margin-right">
						<div class="am-g">
							<div class="am-u-sm-12 am-u-md-4" style="float:left;">
								<div class="am-form-group">域名类型：
									<select name="typeid" data-am-selected="{btnSize: 'sm'}" style="width:200px;">
										<option value="0">全部</option>
										<{foreach item=tp from=$types}>
										<option value="<{$tp.id}>" <{if $cond.typeid==$tp.id}>selected<{/if}>><{$tp.name}></option>
										<{/foreach}>
									</select>
								</div>
							</div>
							<div class="am-u-sm-12 am-u-md-4">
								<div class="am-form-group">停放周期：
									<select data-am-selected="{btnSize: 'sm'}"  name="cycle_time" style="width:200px;">
										<option value="0">全部</option>
										<{foreach $cycle_time_arr as $k => $v}>
										<option value="<{$k}>" <{if $cond.cycle_time==$k}>selected<{/if}>><{$v}></option>
										<{/foreach}>
									</select>
								</div>
							</div>												
							<div class="am-u-sm-12 am-u-md-4">
								<div class="am-form-group">停放状态：
									<select data-am-selected="{btnSize: 'sm'}"  name="status" style="width:200px;">
										<option value="0">全部</option>
										<{foreach $status_arr as $k => $v}>
										<option value="<{$k}>" <{if $cond.status==$k}>selected<{/if}>><{$v}></option>
										<{/foreach}>
									</select>
								</div>
							</div>
						</div>
						<div class="am-g">
							<div class="am-u-sm-12 am-u-md-4" >
								<div class="am-form-group">
									<label for="doc-ipt-4-a" style="float:left;padding:0;margin:0;font:inherit;margin-right:4px;margin-top:5px;">域名关键字：</label>
									<input type="text" name="domain" value="<{urldecode($cond.domain)}>" class="am-form-field am-radius" style="width:200px;height:35px;" >
								</div>
							</div>
							<div class="am-u-sm-12 am-u-md-4">
								<div class="am-form-group">
									<input type="submit" value="搜索" class="am-btn am-btn-sm am-btn-primary am-radius"/>
									<a href="<{url c='parking' a='applyList'}>" class="am-btn am-btn-sm am-btn-primary am-radius">重置</a>
								</div>
							</div>
							<div class="am-u-sm-12 am-u-md-4">
						
							</div>							
						</div>
                    </form>								
                        <div class="am-u-sm-12">
							<div style="font-size:16px; padding-bottom:10px">搜索结果：<span style="color:#F37B1D; font-weight:bold;"><{$pager.total_count}></span></div>
                                <table class="am-table am-table-hover tpl-table-uppercase">
                                    <thead>
                                        <tr>
                                            <th class="table-type">ID</th>
                                            <th>停放中域名</th>
                                            <th>域名品种</th>
                                            <th>已停放/周期</th>
                                            <th>定期收益</th>
                                            <th>已获得收益</th>
                                            <th>开始日期</th>
                                            <th>到期日期</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
										<{if $pager.total_count==0}>
										<tr style="height:60px;">
											<td colspan="12" style="text-align:center;line-height: 50px;">暂无停放数据</td>
										</tr>
										<{/if}>			
									 <{foreach $ret as $k => $v}> 
                                        <tr>
                                            <td><{$v.id}></td>
                                            <td><{$v.domain}></td>
                                            <td><{$v.name}></td>
                                            <td><{$v.time_c_now}>/<{$v.cycle_time}>天</td>
                                            <td><{$v.income}>积分/天</td>
                                            <td><{$v.income_c_now}></td>
                                            <td><{$v.create_time}></td>
                                            <td><{$v.end_time}></td>
                                            <td>										
											<{if $v.status == 2}> 
											<span class="am-badge am-radius">已取消停放</span>
											<{elseif $v.status == 1}> 
											<span class="am-badge am-badge-success am-radius">停放已完成</span>																	
											<{elseif $v.status ==0}>
											<span class="am-badge am-badge-danger am-radius">停放中</span>
											<{/if}>
                                            </td>
											<td>
												<{if $v.is_ykj==0}>
												<a href="/first/apply?from=all&id[]=<{$v.domain_id}>" target="_blank">一口价</a>
												<{/if}>
												<{if $v.is_ykj==1 && $v.status==0}>
												<span class="font-red">一口价中</span>
												<{/if}>												
											</td>
                                        </tr>
      
									<{/foreach}>
                                    </tbody>
                                </table>
                                <div class="am-cf">
									<!--分页部分 begin-->
									<div class="am-fr">
										<ul class="am-pagination tpl-pagination">					
											<{if $pager}>
												<li class="am-disabled"><span>共<{$pager.total_count}>条/<{$pager.total_page}>页</span></li>
												<{if $pager.current_page != $pager.first_page}>
													<li><a href="<{spUrl c=parking a=applyList typeid=$cond.typeid cycle_time=$cond.cycle_time status=$cond.status page=$pager.first_page}>">首页</a></li>
													<li><a href="<{spUrl c=parking a=applyList typeid=$cond.typeid cycle_time=$cond.cycle_time status=$cond.status page=$pager.prev_page}>">上一页</a></li>
												<{/if}>
												<{foreach $pager.all_pages as $thepage}>
													<{if $thepage != $pager.current_page}>
														<li><a href="<{spUrl c=parking a=applyList typeid=$cond.typeid cycle_time=$cond.cycle_time status=$cond.status page=$thepage}>"><{$thepage}></a></li>
													<{else}>
														<li class="am-active"><a href="<{spUrl c=parking a=applyList typeid=$cond.typeid cycle_time=$cond.cycle_time status=$cond.status page=$thepage}>"><{$thepage}></a></li>
													<{/if}>
												<{/foreach}>
												<{if $pager.current_page != $pager.last_page}>
													<li><a href="<{spUrl c=parking a=applyList typeid=$cond.typeid cycle_time=$cond.cycle_time status=$cond.status page=$pager.next_page}>">下一页</a></li>
													<li><a href="<{spUrl c=parking a=applyList typeid=$cond.typeid cycle_time=$cond.cycle_time status=$cond.status page=$pager.last_page}>">末页</a></li>
												<{/if}>
											<{/if}>	
										</ul>		
									</div>
								    <!--分页部分 end-->	
								</div>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!----------右侧内容框 end--------->
		
<script type="text/javascript">
</script>		
<!----------底部通栏块 begin--------->	
<{include file="amui/am_footer.html"}>	
<!----------底部通栏块 end--------->	
</body>
</html>